.page-header.navbar,
.page-header.navbar .page-top,
.page-header.navbar .page-logo,
.page-header.navbar .search-form,
.page-header.navbar .top-menu .navbar-nav>li.dropdown,
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle{
    height: 73px;
}

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit>i{
    font-size: 17px;
    color: #000;
    font-weight: 700;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username{
    font-size: 12px;
    color: #000;
    font-weight: 700;
}
.page-header.navbar .top-menu .navbar-nav>li.quick-sidebar-toggler>i.icon-logout{
    font-size: 33px;
    color: #000;
}
.page-header.navbar .search-form .input-group .form-control,
 .page-header.navbar .search-form,div.input-group,
 .page-header.navbar .search-form .input-group .input-group-btn{
    height: 36px;
}
.page-sidebar .page-sidebar-menu .sub-menu li{
    cursor: pointer;
}

.page-header-fixed .page-container{
    background-color: #26344b;
}
.page-header.navbar .search-form.search-form-expanded{
    margin-top: 19px;
    background-color: #f2f2f2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;    
     border-radius: 20px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i.fa-commenting-o{
    font-size: 26px;
    color: #000;
    margin-top: -6px;
}
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit{
    margin-left: 0;
    width: 40px;
}
.page-header.navbar .search-form.search-form-expanded{
    margin-left: 10px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img{
    margin-top: -11px;
    margin-right: 14px;
    height: 44px;
}
i.userQuestion{

    margin-top: -4px;
    padding-top: 3px;
    text-align: center;
    display: block;
    width: 23px;
    height: 23px;
    color: #000!important;   
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px; 
    background-color: #e4e4e4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;    
     border-radius: 10px;
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler{
    margin-right: 0;
}
.page-header.navbar .page-logo>a{
    width: 112px;
    height: 100%;
    display: block;
    color: #fff;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';    
}
.page-header.navbar .page-logo>a:hover,.page-header.navbar .page-logo>a:focus{
    text-decoration: none;
}
.page-header.navbar .page-logo>a big{
    font-weight: 700;
    font-size: 32px;
    display: block;
    margin-top: 12px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:last-child{
    padding-right: 16px!important;
}
.page-header.navbar .page-logo>a small{
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-top: -25px;
}
@media (max-width: 767px){
    .page-header.navbar .search-form.open{
        margin:19px 2px!important;
    }
}


@media (min-width: 992px){
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo{
        width: 195px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default{
        display: block;
        margin: 27px 0 0;
    }
    .page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed{
        display: none;
    }
    .page-sidebar-closed .page-content-wrapper .page-content{
        margin-left: 0!important;
    }
    .page-content-wrapper{
        margin-top: 5px;
    }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;    
         border-radius: 0;
    }
    .page-sidebar .page-sidebar-menu{
        margin-bottom: 0;
        margin-top: 5px;
    }  
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a{
        padding-left: 53px;
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a{
        min-height: 46px;
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a .selected{
        top:46px;
    }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>a>.arrow,
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover>a>.arrow,
    .page-sidebar .page-sidebar-menu>li.active>a>.selected, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {
        border-color: transparent #eef1f5 transparent transparent;
        float: right;
        position: absolute;
        right: -1px;
        background: 0 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 12px double transparent;
        border-bottom: 12px double transparent;
        border-left: 0;
        border-right: 8px solid #fff;
        z-index: 1;
        right: 0;
    }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu{
        margin-top: -47px;
    }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>a>.arrow,.page-sidebar .page-sidebar-menu>li.active>a>.selected, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected{
        margin-top:-35px;
        top:44px;
    }
   
}
.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
    background-color: #26344b;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
    min-height: 46px;
    line-height: 46px;
    padding:0;
}
.page-sidebar .page-sidebar-menu>li>a>.title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title{
    margin-top: 0;
}
.page-sidebar .page-sidebar-menu>li>a>.title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title{
    text-align: left;
    padding-left: 16px;
}
.page-sidebar .page-sidebar-menu .sub-menu{
    margin: 0;
}
.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
    margin-top: -46px;
}
.router-active{
    color: #17C4BB!important;
}
body.page-boxed,body{
    background-color: #fff;
}
@media (min-width: 992px){
.page-boxed {
    background-color: #fff!important;
}
}

.el-table__row input[disabled]{
    background: none;
    border: none;
}