.short-basic-data{
    background: white;
    border: 1px solid #cccccc;
    padding-left: 30px;
    padding-right: 30px;
    /* position: relative */
}
.tree-container{
    /* position: absolute;
    left: 0;
    top: 0;
    z-index: 20000;
    width: 258px; */
    background: white;
}
.search-component{
    background: white;
    border:1px solid rgba()228,228,228,1;
    height: 61px;
    padding-top:15px;;
}
.green-btn{
    height: 30px;
    line-height: 30px;
    background-color:rgba(75,207,131,1);
    text-align: center;
    border-radius: 4px;
    margin-right:12px;
    cursor: pointer;
}
.green-btn span{
    color: white;
    font-size: 14px;
}
.search-input{
    position:relative;
}
.search-input .form-control{
    width:300px;
    height:32px;
    border-right:none;
    border-radius:3px 0 0 3px;
}
.search-btn, .search-input>input{
    display:inline-block;
}

.search-btn{
    display: inline-block;
    background:#82AAFC;
    height:32px;
    width: 80px;
    text-align:center;
    line-height:32px;
    border-radius:0 4px 4px 0;
    position:absolute;
    left:315px;
    top:0;
    cursor: pointer;
}
.search-btn span{
    color:white;
}
.high-search{
    display: inline-block;
    background: #82AAFC;
    position: absolute;
    left: 405px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
}
.high-search span{
    color: white;
}
.gray-btn{
    float: right;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 3px;
    background-color:rgba(242,242,242,1);
    text-align: center;
    cursor: pointer;
}
.high-search-container{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    float: right;
    width: 30%;
    background: white;
    box-shadow: 0 0 0 2px rgba(50, 50, 50, .2);
}

.search-ul{
    list-style: none;
    padding: 0;
    height: auto;
    border-bottom: 1px solid #999999;
}
.search-ul li{
    display: inline-block;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 25px;
    height: 37px;
    line-height: 37px;
    margin-bottom: 3px;
}
.search-ul .close-li{
    float:right;
    cursor: pointer;
    margin-right:15px;
}
.search-plan{
    padding-left: 30px;
}
.search-edit{
    text-align: center;
    cursor: pointer;
    color: #82AAFC;
}
.search-all{    
    cursor: pointer;
}
.this-week{
    padding: 0;
    list-style: none;
    border-bottom: 6px solid #cccccc;
    padding-top:10px;  
}
.this-week li{
    width: 89px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 15px;
    position: relative
}
.this-week li .red-bg{
    position: absolute;
    top: 0;
    left: -15px;
    cursor: pointer;
}
.this-week li .white-one{
    position: absolute;
    top: 11px;
    left: -12px;
    z-index: 10000;
    cursor: pointer;
}
.search-condition{
    padding-left: 30px;
}
.search-add{  
    cursor: pointer;
    color: #cccccc;
}
.search-num{
    margin-top: 10px;
    padding-left:15px; 
}
.data-ul li{
    display: inline-block;
}
.select-logo{
    display: inline-block;
}
.status-ready{
    display: inline-block;
}
.is-select{
    background:#82AAFC;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
}
.no-select{
    background:#999999;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    text-align: center;
    cursor: pointer;
}
.data-status{
    padding-top:10px; 
}
.data-status .data-ul{
    padding: 0;
}
.business-status{
    padding-top:10px; 
}
.business-status .data-ul{
    padding: 0;
}
.status-ready{
    margin-left: 5px;
}
.data-ul li{
    margin-left: 30px;
    margin-top: 5px;
}

.search-depend{
    list-style: none;
    padding: 0;

}
.search-depend li{
    padding-left: 15px;
    margin-top: 10px;
}
.search-box{
    position: relative;
    height: 33px;
    border: 1px solid #cccccc;
    line-height: 33px;
    margin-left: 20px;
    border-radius: 3px;
}
.search-box input{
    position: absolute;
    left: 40px;
    top: 3px;
    border:none;
    outline: none;
    height: 26px;
}
.search-date ul{
    list-style: none;
    padding: 0;
}
.search-date ul li{
    padding-left:15px; 
    margin-top: 5px;
}
.choose-start,.choose-end{
    display: inline-block;   
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 30px;
    line-height: 25px;
     
}
.choose-date{
    margin-left: 5px;
}
.choose-date input{
   width: 125px;
   border: none;
   outline: none;
   padding-left:5px;
}
.choose-date input::-webkit-inner-spin-button {
     visibility: hidden;
 }
.choose-date img{
    position: absolute;
    right: 5px;
    top:3px;
}
.last-btn{
    margin-top: 18px;
}

.last-btn ul{
    padding:0;
    list-style: none;
    padding-left: 15px;
}
.last-btn ul li{
    display: inline-block;
    cursor: pointer;
}
.last-btn  ul li span{
    width: 89px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border-radius: 3px;
}
.s-btn{
    background: #82AAFC;
    color: white;
}
.r-btn{
    background: rgba(255, 204, 102, 1);
    color: white;
}
.c-btn{
    background: rgba(245, 94, 110, 1);
    color: white;
}
.el-table__row input[disabled]{
    background: none;
    border: none;
}
